/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.page-title-wrapper {
	display: none;
}
.wk_mp_header {
	color: #FFFFFF;
	padding: 7.5%;
	text-align: center;
}
.wk_mp_header h1 {
	font-size: 1.9em;
	color: #FFFFFF;
	margin: .5em 0;
	font-weight: bold;
	word-wrap: break-word;
}
.wk_mp_header h2 {
	font-size: 20px;
	color: #FFFFFF;
	text-transform: inherit;
	margin: .5em 0;
	font-weight: 500;
}
.wk_list_container_wrapper {
	padding: 3% 0;
	width: 65%;
	display: inline-block;
}
.wk_list_container_registration {
	background-color: #FFFFFF;
}
.wk_text_transform_left {
	text-align: left;
}
.wk_text_transform_center {
	text-align: center;
}
@media(min-width: 1001px) {
	.wk_mp_landingpage .wk_list_container {
		padding: 1%;
		float:left;
		width: 48%;
	}
}
@media(max-width: 1000px) {
	.wk_mp_landingpage .wk_list_container {
		width: 100%;
	}
}
.wk_mp_landingpage ul.wk_icon_ul li:before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    margin-left: -35px;
    background-image: url('../images/landingpage1/icon/sell-page-2-sprite.png');
}
.wk_icon1:before {
	background-position: 0 0;
}
.wk_icon2:before {
	background-position: -50px 0;
}
.wk_icon3:before {
	background-position: -100px 0;
}
.wk_icon4:before {
	background-position: -150px 0;
}
.wk_icon5:before {
	background-position: -200px 0;
}
.wk_icon6:before {
	background-position: 0 -50px;
}
.wk_icon7:before {
	background-position: -50px -50px;
}
.wk_icon8:before {
	background-position: -100px -50px;
}
.wk_icon9:before {
	background-position: -150px -50px;
}
.wk_icon10:before {
	background-position: -200px -50px;
}
.wk_icon_check:before {
	background-position: 0 -100px;
	width: 28px!important;
	height: 25px!important;
}
.wk_mp_landingpage ul.wk_icon_ul {
	width: 100%;
	padding-left: 10%;
}
.wk_mp_landingpage ul.wk_icon_ul li {
	list-style: none;
	vertical-align: top;
	text-align: left;
}
.wk_mp_landingpage ul.wk_icon_ul li .wk_icon_span {
	font-size: 16px;
	font-weight: 500;
	color: #4F9DD5;
	vertical-align: top;
}
.wk_mp_landingpage ul.wk_icon_ul li .wk_icon_div {
    margin-top: -27px;
    margin-left: 20px;
    font-size: 11px;
    color: #807E7E;
}
.wk_mp_landingpage .wk_icon_check_span {
	font-size: 16px;
	font-weight: 500;
	color: #807E7E;
	vertical-align: top;
}
.wk_list_container_class {
	width: 100%;
	background-color: #f4f4f4;
}
.wk_list_container_feature_label {
	font-size: 18px;
	font-weight: 500;
	color: #6B6767;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.wk_mp_landingpage .account-create {
	width: 100%;
	min-width: 100%;
	color: #807E7E;
}
.wk_mp_landingpage .form-list input.input-text {
    font-size: 14px!important;
}
.wk_mp_landingpage .form.create.account .legend, .newsletter, br {
	display: none!important;
}
.wk_mp_landingpage .form.create.account .fieldset {
	margin-bottom: 0;
}
.wk_mp_landingpage .form.create.account .info .field,
.wk_mp_landingpage .form.create.account .account .password,
.wk_mp_landingpage .form.create.account .account .confirmation {
	width: 48%;
	padding-right: 1%;
	float: left;
}
.wk_mp_landingpage .form.create.account .field {
	margin-bottom: 10px;
}
.wk_mp_landingpage .form.create.account .account .password,
.wk_mp_landingpage .form.create.account .account .confirmation {
	margin-bottom: 30px;
}
.wk_mp_landingpage .form.create.account .account input[type=email]{
	width: 97%;
}
.wk_mp_landingpage .primary {
	padding: 10px;
	text-transform: uppercase;
}
.column.main {
	min-height: 0!important;
}
#wk_termsconditions_box {
	display: none;
}
#wk_termsconditions_box, .profileurl {
	display: inline-block;
}
#wk_termsconditions_box label {
	max-width: 100%!important;
}
.wk_mp_landing_button {
	background-color: #fff!important;
	border-radius: 0!important;
	text-transform: uppercase!important;
	font-size: 14px!important;
	border: none!important;
}
.wk_mp_landing_button strong{
	color: #4F9DD5!important;
}
.wk_mp_header h1 {	
	text-transform: uppercase!important;
}
#wantptr {
	display: inline-block!important;
}