/*commom classes start*/
.wk_mp_design {
    width: 100%;
}
.wk_mp_design .block-account .block-title {
    background-image: none!important;
}
.wk_mp_design .block{
    margin: 0;
}
.wk_mp_design .product-image img{
    width: 100%;
}
.btn_primary {
    background-color: #0C79D8;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    display: inline-block;
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    text-transform: uppercase;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
}
.wk_profile_links{
    display: inline-block;
    padding: 10px 0;
    width: 30%;
}
.wk_profile_links a:hover{
    text-decoration: none;
}
.wk_mp_fieldset{
    margin: 0;
    padding: 15px;
    border-top: none;
}
.wk_mp_design .form-list .input-box {width: 100%;}
.wk_mp_design .form-list .field { width:100%; }
.wk_mp_design .form-list input.input-text { width:99%; }
.wk_mp_design .form-list textarea { width:99%;max-width: 99%;}
.wk_mp_design .form-list select { width:100%; }
.wk_mp_design .form-list li.wide .input-box { width:100%; }
.wk_mp_design .form-list li.wide input.input-text { width:99%; }
.wk_mp_design .form-list li.wide textarea { width:100%; }
.wk_mp_design .form-list li.wide select { width:100%; }
.wk_mp_design .form-list .input-range input.input-text { width:99%; }
.wk_mp_design .form-list-narrow li.wide .input-box { width:100%; }
.wk_mp_design .form-list-narrow li.wide input.input-text,
.wk_mp_design .form-list-narrow li.wide textarea { width:99% }
.wk_mp_design .form-list-narrow li.wide select { width:100%; }

#wantptr{display:none;}
.profileurl{
display: inline-block;
width: 100%;
}
#wantptr .available.message.success:before {
    content: "\2714";
    padding: 0 5px;
}
#wantptr .message.error:before {
    content: "\2715";
    padding: 0 5px;
}
/*commom classes end*/
/*.profileurl .input-box {float: left;}*/
.unavailable,.available {    
    padding-left: 10px!important;
    font-size: 12px;
    font-weight: normal!important;
}
#wk_load_conf {
    /*left: 12%;
    top: 509px;*/
    /*position: absolute;*/
    float: left;
    width: 22px;
    display: none;
} 
#skuavail, #skunotavail { 
    display: none;
    float:left;
    width: 100%; 
}
.skuavailable{
    background-color: rgba(0, 0, 0, 0);
    background-position: 10px 0 !important;
    border: medium none !important;
    float: left;
    min-height: 11px !important;
    padding: 0 3px 0 30px !important;
    text-transform: capitalize;
    background-size: contain!important;
}
.skunotavailable{
    background-color: rgba(0, 0, 0, 0);
    background-position: 10px 0 !important;
    border: medium none !important;
    float: left;
    min-height: 11px !important;
    padding: 0 3px 0 30px !important;
    text-transform: capitalize;
    background-size: contain!important;
}
/*landing page css start*/
.wk_mp_landingpage{
    text-align: center;
}
.wk_mp_banner {
background-size: 100% 100%;
}
.wk_mp_banner_container{
    width: 97.5%;
    border: 1px solid #eee;
    padding: 10px;
}
.wk_mp_banner img{
    width: 100%;
}
.wk_marketplace_label{    
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 3.3%;
}
.wk_marketplace_label_span{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3em;
    width: 100%;
}
.wk_marketplace_label_about{
    font-weight: 600;
    letter-spacing: 1px;
}
.wk_mp_icon {
    display: inline-block;
    width: 68%;
}
.wk_mp_icon img{
    display: inline-block;
    width: 100%;
}
.wk_mp_icon_wraper{
    display: inline-block;
    width: 22%;
}

.wk_mp_landing_sellers_wraper{
    width: 284px;
    display: inline-block;
    border: 1px solid #eee;
    margin-right: 10px;
    margin-bottom: 10px;
}
.wk_last_seller{
    margin-right: 0!important;
}
.wk_mp_landing_sellers{
    padding: 10px;
}
.wk_mp_landing_sellers_img1{
    width: 100%;
}
.wk_mp_landing_sellers_img1 img{
    width: 130px;
    display: inline-block;
    border: 1px solid #eee;
    float: left;
}
.wk_mp_landing_sellers_img2{
    width: 260px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    display: inline-block;
}
.wk_mp_landing_sellers_img2 img{
    width: 100%;
}
.wk_mp_landing_sellers_logo{
    width: 30%;
    float: left;
    display: inline-block;
    border: 1px solid #eee;
    height: 75px;
    position: relative;
}
.wk_mp_landing_sellers_logo img{
    width: 100%;
}
.wk_mp_landing_sellers_details{
    width: 64%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    text-transform: uppercase;
}
.wk_mp_landing_button{
    font-size: 18px!important;
    padding: 15px 20px!important;
}
.wk_mp_label3_container{
    margin-top:10px;width:100%;
}
.wk_mp_label3{
    border: 1px solid #eee;
    padding: 10px;
}
.wk_mp_header {
    color: #FFFFFF;
    padding: 6.5%;
    text-align: center;
}
.wk_mp_header h1 {
    font-size: 3.9em;
    color: #FFFFFF;
    margin-bottom: 0.3em;
    font-weight: bold;
    word-wrap: break-word;
}
.wk_mp_header h2 {
    font-size: 32px;
    color: #FFFFFF;
    text-transform: inherit!important;
}
.wk_mp_header p { 
    margin-bottom: 0; 
}
/*end*/

/*product page seller block start*/
.wk_blockdetail {background: none repeat scroll 0 0 #F4F3F3;height: auto;padding: 4px;}
.wk_blockdetail ul.partnerlinks li a{text-decoration:none;}
.wk_blockdetail ul.partnerlinks li a:hover{text-decoration: underline;color: #333;}
.wk_blockdetail ul.partnerlinks li {padding:2px 0px;font-size:12px;}
.wk_blockdetail #twconnect, #fbconnect{display: inline-block;height: 35px;width: 35px;}
.wk_blockdetail #twconnect:hover, #fbconnect:hover{box-shadow: -3px -2px 6px #333333;}
.wk_blockdetail #twconnect{background-image:url('../images/tw.png');}
.wk_blockdetail #fbconnect{background-image:url('../images/fb.png');}
.wk-block-hover-div{
	background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    right: -27%;
    min-height: 120px;
    position: absolute;
    top: -35px;
    width: 420px;
    z-index: 999;
    border: 1px solid #BCE8F1;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.wk-block-hover-div img{
	width: 100%;
}
@media only screen and (max-width: 1085px) {
	.wk-block-hover-div{
	    right: -11px!important;
	    width: 275px!important;
	}
}
@media only screen and (min-width: 1085px) and (max-width: 1191px) {
	.wk-block-hover-div{
	    right: -61px!important;
	    width: 275px!important;
	}
}
@media only screen and (min-width: 770px) and (max-width: 984px) {
	.profile-view {
	width: 325px!important;
	}
}
.wk-block-hover-div .arrow{height: 23px;position: absolute;right: -17px;top: 31px;width: 50px;}
.wk-block-hover-div:after, .wk-block-hover-div:before {
    border: 1px solid transparent;
    content: " ";
    height: 0;
    right: 100%;
    position: absolute;
    width: 0;
}
.wk-block-hover-div:after {border-right-color: #FFFFFF;border-width: 7px;top: 36px;}
.wk-block-hover-div:before {border-right-color: #BCE8F1;border-width: 10px;top: 34px;}
.profile-view{
	position: relative;
	width: 436px;
}
/*wk-block new css start*/
.ask_que , #askque{
    display: inline-block;
}
.wk_block_font_bold_up{
	text-transform: uppercase;
	font-weight: bold;
}
.wk_block_title_css{
	font-weight: normal;
	margin: 0 5px 0 0;
}
.wk_block_title_css a{    
    text-decoration: underline;
}
.wk_block_rating{
	display: inline-block;
	text-align: center; 
	background: #11b400;
	color: #fff; 
	letter-spacing: 1px;
	min-width: 16px; 
	padding: 2px 6px; 
	border-radius: 4px;
}
.product-options-bottom{
	padding: 9px!important;
}
.extra-info{
	max-width: 100%!important;
	width: 100%!important;
}
.add-to-cart, .out-of-stock{
	float: left!important;
}
.wk_seller_block{
    border-left: 1px solid #ccc;
	display: inline-block; 
	width: 30%;
	position: relative;
	padding-left: 10px;
	margin-left: 8px;
}
.wk_seller_block:after, .wk_seller_block:before {
    border: 1px solid transparent;
    content: " ";
    height: 0;
    left: -1px;
    position: absolute;
    width: 0;
    margin-top: -11px;
}
.wk_seller_block:after {
	border-left-color: #FFFFFF;border-width: 7px;top: 36px;
}
.wk_seller_block:before {
	border-left-color: #CCCCCC;border-width: 9px;top: 34px;
}
@media only screen and (min-width: 1180px){
	.wk_seller_block{
		width: 44%!important;
	}
}

.wk_seller_rating{
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background: #fffeeb;
	box-shadow: 0 2px 8px 2px #848484;
	font-size: 11px;
	position: absolute;
	text-align: left;
	max-width: 350px;
	z-index: 1;
	display: none;
	top: 67%;
	margin-left: -20%;
	width: 120%;
}
.wk_seller_rating:after, .wk_seller_rating:before {
    border: 1px solid transparent;
    content: " ";
    height: 0;
    bottom: -1px;
    position: absolute;
    width: 0;
    margin-top: -51px;
    margin-left: 22%;
}
.wk_seller_rating:after {
	border-bottom-color: #FFFFFF;border-width: 7px;
	top: 38px;
	margin-right: 22px;
}
.wk_seller_rating:before {
	border-bottom-color: #CCCCCC;border-width: 9px;
	border-width: 7px;
	top: 37px;
}
/*end*/
/*.profile-view:hover .wk-block-hover-div,.wk-block-hover-div .arrow:hover{display:block;}*/
/*end*/

/*seller list page start*/
.wk_srach_wrapper{
	width:100%;
	display:inline-block;
}
.wk_search input {
	width: 100%!important;
	height: 40px!important;
	padding-right: 40px!important;
	font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}
.wk_search .input-box {
	position: relative;
}
.wk_search .button {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	border: 0;
}
.wk_search .span{
	padding: 9px 8px!important;
}
.wk_search button.button span span {
	height: 20px!important;
	line-height: 20px!important;
}
.wk_mp_sellerlist_container li{	
	padding-left: 0;
	padding-bottom: 1%;
}
.wk_mp_sellerlist_container .wk_mp_sellerlist_wrap {
	border: 1px solid #eee;
	display: inline-block;			
	padding: 5px;			
}
.wk_sellerlist_divide1 {
	display: inline-block;
	width: 40%;
	float: left;
	overflow: hidden;
}
.wk_sellerlist_divide1 img {
	width: 85%;
	float: left;
	border: 1px solid #eee;
}
.wk_sellerlist_divide2 {
	text-align: left;
	text-transform: uppercase;
	width: 60%;
	float: left;
}
@media only screen and (min-width: 480px) and (max-width: 480px) {
	.wk_mp_sellerlist_container .wk_mp_sellerlist_wrap {
		width: 100%;
	}
	.wk_mp_sellerlist_container li{
		padding-right: 0;
		float: none;
	}
	.wk_sellerlist_divide1 {
		height: auto;
	}
}
@media only screen and (min-width: 481px) and (max-width: 651px) {
	.wk_mp_sellerlist_container .wk_mp_sellerlist_wrap {
		width: 100%;
	}
	.wk_mp_sellerlist_container li{
		padding-right: 15px;		
		float: left;
		width: 50%;
	}
	.wk_sellerlist_divide1 {
		height: auto;
	}
    .wk_mp_header h1 {
        font-size: 2.9em!important;
    }
}
@media only screen and (min-width: 652px) and (max-width: 1079px) {
	.wk_mp_sellerlist_container .wk_mp_sellerlist_wrap {
		width: 100%;
	}
	.wk_mp_sellerlist_container li{
		padding-right: 15px;		
		float: left;
		width: 30%;
	}
	.wk_sellerlist_divide1 {
		height: 95px;
	}
}
@media only screen and (min-width: 1080px){
	.wk_mp_sellerlist_container li{
		margin-right: 1%;
		float: left;
		width: 24%;
	}
	.wk_sellerlist_divide1 {
		height: 95px;
	}
}
/*end*/
/*seller prfile page left css start*/
.wk_logo_block{
    padding-bottom: 10px;
}
.bannerpicrs {
    border-bottom: 5px solid #fc9d36;
    height: 100%;
    width: 99%;
}
.wk_mp_design_inner{
    border: 1px solid #eee;
    padding: 10px;
    padding-bottom:0;
}
.wk_mp_design_inner_last{
    margin-bottom:10px;
    padding-bottom: 10px;
}
.storename {
    font: bold 1em Helvetica Neue,Arial,Sans Serif;
    text-transform:uppercase;
}
.store-name{
    padding: 5px 0;
}
.wk_seller a {
    display: inline-block;
}
#info .section {
    padding: 0px 5px 5px 5px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}
.wk_icon{
    background-image: url("../images/Seller-Sprite.png");
    background-repeat: no-repeat;
    background-color: transparent;
    height: 18px;
    width: 17px;
    float: left;
    margin-top: 3px;
}
.wk_storeloc_icon{
    background-position: -105px -96px;
    height: 17px;
}
a.cont-name {
    display: inline-block;
    padding-right: 5px;
    font-size: 15px;
    color: inherit;
    font-weight: normal;
}
.piccountry {
    width: 24px;
    display: inline-block;
}
.wk_contact_input_fields {
    width: 100%!important;
    max-width: 100%!important;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.wk_mp_design_inner small {
    font-size: smaller;
}

.wk_mp_design_inner .wk_ordertitle_label{
    width: 29%;
    font-weight: bold;
}

/*seller prfile page left css end*/

/*start modal box*/
.ask_que{cursor:pointer;}
#ask_data .errormail {
    bottom: 15px;
    display: none;
    left: 155px;
    position: absolute;
    color: #DF280A;
    font-weight: bold;
}
.wk_clear{clear: both;}

.wk_dash_chart{
    margin-top: 10px;
    border:1px solid #CCCCCC;
}

.modal-title {
margin: 0;
line-height: 1.42857143;
font-size: 18px;
font-family: inherit;
font-weight: 500;
display: inline-block;
}
#ask_data {    
    background-clip: padding-box;    
    background-color: #FFFFFF;    
    border: 1px solid rgba(0, 0, 0, 0.3);    
    border-radius: 6px 6px 6px 6px;    
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);    
    display: none;    
    left: 50%;    
    margin: -250px 0 0 -280px;    
    outline: medium none;    
    position: fixed;    
    top: 50%;    
    width: 530px;    
    z-index: 1050;
}
#ask_form { 
    display: inline-block;
    width: 100%;
}
#ask_form textarea { height: 75px;width: 315px; }
#ask_data .label {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
    padding-left: 20px;
    text-align: left;
    width: 135px;
    vertical-align: top;
}
.wk_modal_btn{
  cursor: pointer;
}
.wk_btn_primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.wk_btn_primary:hover,
.wk_btn_primary:focus,
.wk_btn_primary.focus,
.wk_btn_primary:active,
.wk_btn_primary.active,
.open > .dropdown-toggle.wk_btn_primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.wk_btn_primary:active,
.wk_btn_primary.active,
.open > .dropdown-toggle.wk_btn_primary {
  background-image: none;
}
.wk_btn_primary.disabled,
.wk_btn_primary[disabled],
fieldset[disabled] .wk_btn_primary,
.wk_btn_primary.disabled:hover,
.wk_btn_primary[disabled]:hover,
fieldset[disabled] .wk_btn_primary:hover,
.wk_btn_primary.disabled:focus,
.wk_btn_primary[disabled]:focus,
fieldset[disabled] .wk_btn_primary:focus,
.wk_btn_primary.disabled.focus,
.wk_btn_primary[disabled].focus,
fieldset[disabled] .wk_btn_primary.focus,
.wk_btn_primary.disabled:active,
.wk_btn_primary[disabled]:active,
fieldset[disabled] .wk_btn_primary:active,
.wk_btn_primary.disabled.active,
.wk_btn_primary[disabled].active,
fieldset[disabled] .wk_btn_primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.wk_btn_default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.wk_btn_default:hover,
.wk_btn_default:focus,
.wk_btn_default.focus,
.wk_btn_default:active,
.wk_btn_default.active,
.open > .dropdown-toggle.wk_btn_default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.wk_btn_default:active,
.wk_btn_default.active,
.open > .dropdown-toggle.wk_btn_default {
  background-image: none;
}
.wk_btn_default.disabled,
.wk_btn_default[disabled],
fieldset[disabled] .wk_btn_default,
.wk_btn_default.disabled:hover,
.wk_btn_default[disabled]:hover,
fieldset[disabled] .wk_btn_default:hover,
.wk_btn_default.disabled:focus,
.wk_btn_default[disabled]:focus,
fieldset[disabled] .wk_btn_default:focus,
.wk_btn_default.disabled.focus,
.wk_btn_default[disabled].focus,
fieldset[disabled] .wk_btn_default.focus,
.wk_btn_default.disabled:active,
.wk_btn_default[disabled]:active,
fieldset[disabled] .wk_btn_default:active,
.wk_btn_default.disabled.active,
.wk_btn_default[disabled].active,
fieldset[disabled] .wk_btn_default.active {
  background-color: #fff;
  border-color: #ccc;
}
.wk_btn_default .badge {
  color: #fff;
  background-color: #333;
}
.wk_btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
}
.form-control {
width: 315px;
padding: 6px 12px;
margin-bottom: 10px;
font-size: 14px;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.modal-body {
position: relative;
padding: 15px;
width: 94%;
}
.form-control:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.wk_btn_primary .badge {
  color: #428bca;
  background-color: #fff;
}
.modal_header { 
  border-bottom: 1px solid #EEEEEE;
  border-radius: 4px 4px 0 0;
  padding: 9px 15px;
  text-align: left;
}
.modal_header h3 { display: inline-block;font-size: 20px;opacity: 0.6; }
.wk_close {    
    color: #000000;    
    cursor: pointer;    
    float: right;    
    font-size: 20px;    
    font-weight: bold;    
    line-height: 20px;    
    opacity: 0.2;    
    text-shadow: 0 1px 0 #FFFFFF;
}
.wk_close:hover,
.wk_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal_footer:before, .modal_footer:after { content: "";display: table;line-height: 0; }
.modal_footer:before, .modal_footer:after { content: "";display: table;line-height: 0; }
.modal_footer {    
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.error_border { border-color: #FF0000 !important; }
.mail_procss { cursor: wait;opacity: 0.5; }
/*end*/

/*profile page right bar css start*/
.wk_feedback_details .mpfeedback{
    width:100%;
    border-right: 1px solid #ccc;
}
.mpfeedback .wk_span{
    width: 40%;
}
.mpfeedback span {
    float: left;
}
.mpfeedback .ratingslider-box {
    background: url("../images/rating-sprite.png") repeat-x scroll 0 103% transparent;
    float: left;
    margin-left: 3%;
    height: 20px;
    width: 70px;
}
.mpfeedback .ratingslider-box .rating {
    background: url("../images/rating-sprite.png") repeat-x scroll 0 4px transparent;
    height: 20px;
}
.mpfeedback .price{
    width:100%;
    display: inline-block;
}
.mpfeedback .value{
    width:100%;
    display: inline-block;
}
.mpfeedback .quality{
    width:100%;
    display: inline-block;
}
/*profile page right bar css end*/

/*Profile page content css start*/

.wk_social_icon{
    width: 44px;
    height: 44px;
}
.wk_social_icon_instagram{ background-position: 0px 0px; }
.wk_social_icon_pinterest{ background-position: -46px 0px; }
.wk_social_icon_fb{ background-position: -92px 0px; }
.wk_social_icon_tw{ background-position: -138px 0px; }
.wk_social_icon_gplus{ background-position: 0px -46px; }
.wk_social_icon_vimeo{ background-position: -46px -46px }
.wk_social_icon_utube{ background-position: -92px -46px; }
.wk_social_icon_moleskin{ background-position: -138px -46px; }
.wk_profile_pro_css {
    width: 32.33333%;
    margin-right: 1%;
    float: left;
    text-align: center;
}
.wk_profile_image_box{
    border: 1px solid #eee;
    padding: 5px;
}
/*Profile page content css end*/

/*feedback page css start*/
.wk_orderbox_content1{    
    display: inline-block;
    width: 98%;
    border-bottom: 1px solid #eee;
}
.wk_orderbox_content2{    
    display: inline-block;
    width: 98%;
}
.wk_first_order{
    margin-top: 15px;
}
.wk_orderbox{
    border: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    border-radius: 3px;
}
.wk_orderbox_content1{    
    display: inline-block;
    width: 98%;
    border-bottom: 1px solid #ccc;
}
.wk_orderbox_content2{    
    display: inline-block;
    width: 98%;
}
.wk_orderbox_details{
    width: 78%;
    float: left;
}
.wk_orderbox_details a {
    color: #1e7ec8;
    text-decoration: none;
}
.wk_orderbox_total {
    width: 22%;
    float: left;
    text-align: right;
}
.wk_feedback_details{
float: left;
width: 26%;
padding-bottom: 5px;
}
.wk_feedback_desc{
float: left;
width: 71%;
padding:5px 0px 5px 15px
}
/*end*/

/*collection page content css start*/
.collection-banner > img {
   width: 100%;
}
/*end*/
@media only screen and (min-width: 0px) and (max-width: 640px) { 
    #ask_data{
        width: 350px!important;
        left: 75%!important;
    }
    #ask_data .label {
        width: 36%!important;
    }
}