<?php $quertString = $this->getRequest()->getParams();?>
<iframe width="100%" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<?php echo $quertString['loc'];?>&amp;output=embed"></iframe>
<br />
<small>
	<a href="https://maps.google.com/maps?q=<?php echo $quertString['loc'];?>" class="wk_loc_inf"><?php echo Mage::helper('marketplace')->__('View Larger Map') ?></a>
</small>
