<?php 
$isPartner= Mage::getModel('marketplace/userprofile')->isPartner(); 
$helper= Mage::helper('marketplace');
$customerid=Mage::getSingleton('customer/session')->getCustomerId();
if($isPartner==1){

	$order_id = $this->getRequest()->getParam('order_id');

	$order=Mage::getModel('sales/order')->load($order_id);
    if($order->getPayment()){
		$paymentCode = $order->getPayment()->getMethod();
		$payment_method = Mage::getStoreConfig('payment/'.$paymentCode.'/title',Mage::app()->getStore());
	}
	$marketplace_orders = Mage::getModel('marketplace/order')->getCollection()
		                		->addFieldToFilter('order_id',array('eq'=>$order_id))
								->addFieldToFilter('seller_id',array('eq'=>Mage::getSingleton('customer/session')->getCustomerId()));
	if(count($marketplace_orders)){
		$tracking=Mage::getModel('marketplace/order')->getOrderinfo($order_id); 
		$invoiceId=$tracking->getInvoiceId();
		?>
		<style type="text/css">
			.wk_mp_design .divider {
				display: block;
				height: 1px;
				margin: 8px 0;
				background: #ddd;
				overflow: hidden;
			}
		</style>
		<div class="page-title">
			<h1 style="float:left;"><?php echo $helper->__('New Credit Memo') ?></h1>
		</div>
		<div class="wk_mp_design">
			<div class="block block-account">	
				<div class="block-title">	
					<strong><span><h4><?php echo $helper->__('New Credit Memo for Order #%s',$order->getRealOrderId()) ?></h4></span></strong>
				</div>
			</div>
			<div class="fieldset wk_mp_fieldset" id="wk_mp_print_order">
				<div class="page-title title-buttons">
				    <h1><?php echo $helper->__('Order #%s - %s', $order->getRealOrderId(), $order->getStatusLabel()) ?></h1>
				</div>
				<!-- order info -->
				<div class="wk_mp_order-info-box">
				    <div>
				        <div class="box">
				            <div class="box-title">
				                <h2><?php echo $helper->__('Order Information') ?></h2>
				            </div>
				            <div class="box-content">
				                <div class="wk_row">
									<span class="label">
										<a href="<?php echo Mage::getUrl('marketplace/order/view', array('id'=>$order_id));?>">
											<?php echo $helper->__('Order # %s',$order->getIncrementId()) ?>
										</a>
									</span>
								</div>
								<div class="wk_row">
									<span class="label"><?php echo $helper->__('Order Status')?> : </span>
									<span class="value"><?php echo ucfirst($order->getStatus()); ?></span>
								</div>
								<div class="wk_row">
									<span class="label"><?php echo $helper->__('Order Date')?> : </span>
									<span class="value"><?php echo $order->getCreatedAtStoreDate(); ?></span>
								</div>
				            </div>
				        </div>
				    </div>
				</div>
				<!-- buyer info -->				
				<?php if ($helper->getSellerProfileDisplayFlag()) { ?>
					<div class="wk_mp_order-info-box">
					    <div>
					        <div class="box">
					            <div class="box-title">
					                <h2><?php echo $helper->__('Buyer Information') ?></h2>
					            </div>
					            <div class="box-content">
					                <div class="wk_row">
										<span class="label"><?php echo $helper->__('Customer Name')?> : </span>
										<span class="value"><?php echo $order->getCustomerName(); ?></span>
									</div>
									<div class="wk_row">
										<span class="label"><?php echo $helper->__('Email')?> : </span>
										<span class="value"><?php echo $order->getCustomerEmail(); ?></span>
									</div>
					            </div>
					        </div>
					    </div>
					</div>
				<?php } ?>
				<!-- shipping info -->
				<?php if (!$order->getIsVirtual()): ?>					
					<?php if ($helper->getSellerProfileDisplayFlag()) { ?>
						<div class="wk_mp_order-info-box">
					        <div class="box">
					            <div class="box-title">
					                <h2><?php echo $helper->__('Shipping Address') ?></h2>
					            </div>
					            <div class="box-content">
					                <address><?php echo $order->getShippingAddress()->format('html') ?></address>
					            </div>
					        </div>
						</div>
					<?php } ?>
					<div class="wk_mp_order-info-box">
						<div class="box">
				            <div class="box-title">
				                <h2><?php echo $helper->__('Shipping Information') ?></h2>
				            </div>
				            <div class="box-content">
				                <?php if ($order->getShippingDescription()): ?>
				                    <?php echo $this->escapeHtml($order->getShippingDescription()) ?>
				                <?php else: ?>
				                    <p><?php echo $this->helper('sales')->__('No shipping information available'); ?></p>
				                <?php endif; ?>
				            </div>
				        </div>
					</div>
				<?php endif; ?>

				<!-- Billing info -->				
				<?php if ($helper->getSellerProfileDisplayFlag()) { ?>
					<div class="wk_mp_order-info-box">
				        <div class="box">
				            <div class="box-title">
				                <h2><?php echo $helper->__('Billing Address') ?></h2>
				            </div>
				            <div class="box-content">
				                <address><?php echo $order->getBillingAddress()->format('html') ?></address>
				            </div>
				        </div>
					</div>
				<?php } ?>

				<!-- Payment Info -->

				<div class="wk_mp_order-info-box">
					<div class="box box-payment">
			            <div class="box-title">
			                <h2><?php echo $helper->__('Payment Method') ?></h2>
			            </div>
			            <div class="box-content">
			                <?php echo $payment_method; ?>
			            </div>
			        </div>
				</div>

				<!-- Items Info -->
				<form action="<?php echo $this->getUrl('marketplace/order/creditmemo')?>" id="marketplace_shipping_form" method="post">
					<div class="order-items order-details" style="overflow:auto;width:100%;">
					    <h2 class="table-caption"><?php echo $helper->__('Items to Refund') ?>        
					    </h2>
					    <table class="data-table" id="my-orders-table" summary="<?php echo $helper->__('Items to Refund') ?>">
						    <col />
						    <col width="1" />
						    <col width="1" />
						    <col width="1" />
						    <col width="1" />
						    <thead>
						        <tr>
						            <th style="width: 100%;"><?php echo $helper->__('Product Name') ?></th>
						            <th class="a-right"><?php echo $helper->__('Price') ?></th>
						            <th><?php echo $helper->__('Qty') ?></th>
						            <th><?php echo $helper->__('Return to Stock') ?></th>
						            <th><?php echo $helper->__('Qty to Refund') ?></th>
						            <th class="a-right"><?php echo $helper->__('Subtotal') ?></th>
						            <?php
						            if($paymentCode == 'mpcashondelivery'){?>
						            	<th class="a-right"><?php echo $helper->__('COD Charges') ?></th>
						            <?php
						            } ?>
						            <th class="a-right"><?php echo $helper->__('Tax Amount') ?></th>
						            <th class="a-right"><?php echo $helper->__('Discount Amount') ?></th>
						            <th class="a-right"><?php echo $helper->__('Row Total') ?></th>
						        </tr>
						    </thead>
						    <?php 
						    $_items = $order->getItemsCollection();
						    $i = 0;
						    $_count = $_items->count();				    
						    $subtotal = 0;
						    $totaltax = 0;
						    $shippingamount = 0;
						    $codcharges_total = 0;

						    foreach ($_items as $_item){
						    	$row_total = 0;
						    	$available_seller_item = 0;
						    	$shippingcharges = 0;
						    	$itemPrice = 0;			
						    	$seller_item_cost = 0;			
						    	$totaltax_peritem = 0;			
						    	$codcharges_peritem = 0;
						    	$seller_item_commission = 0;			
								$orderid = $order_id;
								$vendor_item_status=$this->getItemStatus($orderid,$_item->getProductId());				    	
								$seller_orderslist=Mage::getModel('marketplace/saleslist')->getCollection()
															 ->addFieldToFilter('mageproownerid',array('eq'=>$customerid))
															 ->addFieldToFilter('mageorderid',array('eq'=>$orderid))
															 ->addFieldToFilter('mageproid',array('eq'=>$_item->getProductId()))
															 ->addFieldToFilter('order_item_id',array('eq'=>$_item->getItemId()))
															 ->setOrder('mageorderid','DESC');
								foreach($seller_orderslist as $seller_item){
									$parentitem_falg = 0;
									$available_seller_item = 1;
									$totalamount = $seller_item->getTotalamount();
									$seller_item_cost = $seller_item->getActualparterprocost();
									$seller_item_commission = $seller_item->getTotalcommision();
									$shippingcharges = $seller_item->getShippingCharges();
									$itemPrice = $seller_item->getMageproprice();
									$totaltax_peritem = $seller_item->getTotaltax();
									$codcharges_peritem = $seller_item->getCodCharges();
								}
								if($available_seller_item == 1){
									$i++;
									$seller_item_qty = $_item->getQtyToRefund();
									if($_item->getProductType()!='bundle'){
										$row_total=$itemPrice*$seller_item_qty;
									}else{
										$row_total=$totalamount;
									}
									//$seller_item_cost = $row_total-$seller_item_commission;
									$subtotal=$subtotal+$row_total;
									$totaltax=$totaltax+$totaltax_peritem;
									$codcharges_total=$codcharges_total+$codcharges_peritem;
									$shippingamount = $shippingamount+$shippingcharges;

									$result = array();
							        if ($options = $_item->getProductOptions()) {
							            if (isset($options['options'])) {
							                $result = array_merge($result, $options['options']);
							            }
							            if (isset($options['additional_options'])) {
							                $result = array_merge($result, $options['additional_options']);
							            }
							            if (isset($options['attributes_info'])) {
							                $result = array_merge($result, $options['attributes_info']);
							            }
							        }
							        // for bundle product
							        $bundleitems = array_merge(array($_item), $_item->getChildrenItems());
							        $_count = count ($bundleitems);
							        $_index = 0;
							        $_prevOptionId = '';					        
							    	?>
							        <?php if ($_item->getParentItem()) continue; ?>
							        <tbody>
							            <tbody class="<?php echo $class = ($i%2 != 0)? 'odd':'even'?>">
							            <?php
										if($_item->getProductType()!='bundle'){
										?>
											<?php $pname=$_item->getName(); ?>
											<tr class="border" id="order-item-row-<?php echo $_item->getMageproid() ?>">
												<td>
													<h3 class="product-name"><?php echo $pname;?></h3>
													<?php if($_options = $result): ?>
												        <dl class="item-options">
												        <?php foreach ($_options as $_option) : ?>
												            <dt><?php echo $this->escapeHtml($_option['label']) ?></dt>
												            <?php if (!$this->getPrintStatus()): ?>
												                <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
												                <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?>>
												                    <?php echo $this->escapeHtml($_option['value']) ?>
												                    <?php if (isset($_formatedOptionValue['full_view'])): ?>
												                    <div class="truncated_full_value">
												                        <dl class="item-options">
												                            <dt><?php echo $this->escapeHtml($_option['label']) ?></dt>
												                            <dd><?php echo $_formatedOptionValue['full_view'] ?></dd>
												                        </dl>
												                    </div>
												                    <?php endif; ?>
												                </dd>
												            <?php else: ?>
												                <dd>
												                    <?php echo nl2br($this->escapeHtml( (isset($_option['print_value']) ? $_option['print_value'] : $_option['value']) )) ?>
												                </dd>
												            <?php endif; ?>
												        <?php endforeach; ?>
												        </dl>
											        <?php endif; ?>
												</td>
												<td class="price" data-rwd-label="<?php echo $helper->__('Price') ?>"><?php echo Mage::helper('core')->currency($_item->getPrice(), true, false);?></td>
												<td class="item_status" data-rwd-label="<?php echo $helper->__('Qty') ?>">
													<span class="nobr">
										                <?php if ($_item->getQtyOrdered() > 0): ?>
												            <?php echo $helper->__('Ordered'); ?>: <strong><?php echo $_item->getQtyOrdered()*1 ?></strong><br />
												        <?php endif; ?>
												        <?php if ($_item->getQtyInvoiced() > 0): ?>
												            <?php echo $helper->__('Invoiced'); ?>: <strong><?php echo $_item->getQtyInvoiced()*1 ?></strong><br />
												        <?php endif; ?>
												        <?php if ($_item->getQtyShipped() > 0): ?>
												            <?php echo $helper->__('Shipped'); ?>: <strong><?php echo $_item->getQtyShipped()*1 ?></strong><br />
												        <?php endif; ?>
												        <?php if ($_item->getQtyCanceled() > 0): ?>
												            <?php echo $helper->__('Canceled'); ?>: <strong><?php echo $_item->getQtyCanceled()*1 ?></strong><br />
												        <?php endif; ?>
												        <?php if ($_item->getQtyRefunded() > 0): ?>
												            <?php echo $helper->__('Refunded'); ?>: <strong><?php echo $_item->getQtyRefunded()*1 ?></strong><br />
												        <?php endif; ?>
											        </span>
												</td>
												<td class="price" data-rwd-label="<?php echo $helper->__('Return to Stock') ?>">
													<input type="checkbox" name="creditmemo[items][<?php echo $_item->getItemId()?>][back_to_stock]" value="1"/>
												</td>
												<td class="price" data-rwd-label="<?php echo $helper->__('Return to Stock') ?>">
													<input type="text" name="creditmemo[items][<?php echo $_item->getItemId()?>][qty]" value="<?php echo $_item->getQtyToRefund()?>"/>
												</td>
												<td class="price" data-rwd-label="<?php echo $helper->__('Subtotal') ?>"><?php echo Mage::helper('core')->currency($row_total, true, false);?></td>
												<?php
									            if($paymentCode == 'mpcashondelivery'){?>
									            	<td class="price" data-rwd-label="<?php echo $helper->__('COD Charges') ?>"><?php echo Mage::helper('core')->currency($codcharges_peritem, true, false);?></td>
									            <?php
									            } ?>
												<td class="price" data-rwd-label="<?php echo $helper->__('Tax Total') ?>"><?php echo Mage::helper('core')->currency($totaltax_peritem, true, false);?></td>
												<td class="row_total" data-rwd-label="<?php echo $helper->__('Discount Total') ?>"><?php echo Mage::helper('core')->currency(0, true, false);?></td>
												<td class="row_total" data-rwd-label="<?php echo $helper->__('Subtotal') ?>"><?php echo Mage::helper('core')->currency($row_total+$totaltax_peritem+$codcharges_peritem, true, false);?></td>
											</tr>
										<?php
										}else{
										?>
										<?php foreach ($bundleitems as $_bundleitem): ?>
											<?php
											$attributes_option = null;
											if ($_bundleitem instanceof Mage_Sales_Model_Order_Item) {
									            $options = $_bundleitem->getProductOptions();
									        } else {
									            $options = $_bundleitem->getOrderItem()->getProductOptions();
									        }
									        if (isset($options['bundle_selection_attributes'])) {
									            $attributes_option =  unserialize($options['bundle_selection_attributes']);
									        }
											?>

											<?php if ($_bundleitem->getParentItem()): ?>
											    <?php $attributes = $attributes_option ?>
											    <?php if ($_prevOptionId != $attributes['option_id']): ?>
											    <tr class="bundle <?php if ($_bundleitem->getLastRow()){ echo 'last'; }?>">
											        <td><div class="option-label"><?php echo $attributes['option_label'] ?></div></td>
											        <td class="lin-hide">&nbsp;</td>
											        <td class="lin-hide">&nbsp;</td>
											        <td class="lin-hide">&nbsp;</td>
									            	<td class="lin-hide">&nbsp;</td>
											        <td class="lin-hide">&nbsp;</td>
											        <td class="lin-hide">&nbsp;</td>
											        <td class="lin-hide">&nbsp;</td>
											        <td class="lin-hide">&nbsp;</td>
											    </tr>
											    <?php $_prevOptionId = $attributes['option_id'] ?>
											    <?php endif; ?>
											<?php endif; ?>
											<tr<?php echo (++$_index==$_count)?' class="border bundle"':' class="bundle"' ?> id="order-item-row-<?php echo $_bundleitem->getId() ?>">
											    <?php 
											    if (!$_bundleitem->getParentItem()){?>
											    	<td><h3 class="product-name"><?php echo $this->escapeHtml($_bundleitem->getName()) ?></h3></td>
											    	<td class="price" data-rwd-label="<?php echo $helper->__('Price') ?>"><?php echo Mage::helper('core')->currency($_item->getPrice(), true, false);?></td>
													<td class="lin-hide">&nbsp;</td>
													<td class="lin-hide">&nbsp;</td>
													
													<td class="price" data-rwd-label="<?php echo $helper->__('Subtotal') ?>"><?php echo Mage::helper('core')->currency($row_total, true, false);?></td>
													<?php
										            if($paymentCode == 'mpcashondelivery'){?>
										            	<td class="price" data-rwd-label="<?php echo $helper->__('COD Charges') ?>"><?php echo Mage::helper('core')->currency($codcharges_peritem, true, false);?></td>
										            <?php
										            } ?>
													<td class="price" data-rwd-label="<?php echo $helper->__('Tax Total') ?>"><?php echo Mage::helper('core')->currency($totaltax_peritem, true, false);?></td>
													<td class="row_total" data-rwd-label="<?php echo $helper->__('Discount Total') ?>"><?php echo Mage::helper('core')->currency(0, true, false);?></td>
													<td class="row_total" data-rwd-label="<?php echo $helper->__('Subtotal') ?>"><?php echo Mage::helper('core')->currency($row_total+$totaltax_peritem+$codcharges_peritem, true, false);?></td>
											    <?php
											    } else{
											    	$_bundleitem_child_name ='';
											    	if ($attributes = $attributes_option){
											            $_bundleitem_child_name =  sprintf('%d', $attributes['qty']) . ' x ' .$this->escapeHtml($_bundleitem->getName()) ;
											        } else {
											            $_bundleitem_child_name = $this->escapeHtml($_bundleitem->getName());
											        }
											    	?>
											    	<td><div class="option-value"><?php echo $_bundleitem_child_name?></div></td>
											    	<td class="price" data-rwd-label="<?php echo $helper->__('Price') ?>"><?php echo Mage::helper('core')->currency($_bundleitem->getPrice(), true, false);?></td>
											        <td class="item_status" data-rwd-label="<?php echo $helper->__('Status') ?>">
														<span class="nobr">
											                <?php if ($_bundleitem->getQtyOrdered() > 0): ?>
													            <?php echo $helper->__('Ordered'); ?>: <strong><?php echo $_bundleitem->getQtyOrdered()*1 ?></strong><br />
													        <?php endif; ?>
													        <?php if ($_bundleitem->getQtyShipped() > 0): ?>
													            <?php echo $helper->__('Shipped'); ?>: <strong><?php echo $_bundleitem->getQtyShipped()*1 ?></strong><br />
													        <?php endif; ?>
													        <?php if ($_bundleitem->getQtyCanceled() > 0): ?>
													            <?php echo $helper->__('Canceled'); ?>: <strong><?php echo $_bundleitem->getQtyCanceled()*1 ?></strong><br />
													        <?php endif; ?>
													        <?php if ($_bundleitem->getQtyRefunded() > 0): ?>
													            <?php echo $helper->__('Refunded'); ?>: <strong><?php echo $_bundleitem->getQtyRefunded()*1 ?></strong><br />
													        <?php endif; ?>
												        </span>
													</td>
													<td class="price" data-rwd-label="<?php echo $helper->__('Return to Stock') ?>">
														<input type="checkbox" name="creditmemo[items][<?php echo $_bundleitem->getItemId()?>][back_to_stock]" value="1"/>
													</td>
													<td class="price" data-rwd-label="<?php echo $helper->__('Return to Stock') ?>">
														<input type="text" name="creditmemo[items][<?php echo $_bundleitem->getItemId()?>][qty]" value="<?php echo $_bundleitem->getQtyToRefund()?>"/>
													</td>
											        <td class="lin-hide">&nbsp;</td>
									            	<td class="lin-hide">&nbsp;</td>        
											        <td class="lin-hide">&nbsp;</td>
											        <td class="lin-hide">&nbsp;</td>
											        <td class="lin-hide">&nbsp;</td>
											    <?php
											    }?>
											</tr>
										<?php endforeach; ?>
										<?php
										}?>
							        </tbody>
						        	<?php 
						        }
					        }?>
					        <?php
					        $refundedShippingAmount = 0;  
						    foreach($marketplace_orders as $tracking){
								$shippingamount=$tracking->getShippingCharges();
								$refundedShippingAmount=$tracking->getRefundedShippingCharges();
							}
					        if($paymentCode == 'mpcashondelivery'){
					        	$count_td = 7;
					       	}else{
					       		$count_td = 6;
					       	}
					        ?>				        
						</table>					
					</div>

					<div class="wk_mp_order-info-box">
				        <div class="box">
				        	<div class="order-items order-details" style="overflow:auto;width:100%;">
							    <table class="data-table wk_refundtotal_container" id="my-orders-table" summary="<?php echo $helper->__('Items to Refund') ?>">
								    <thead>
								        <tr>
								            <th ><?php echo $helper->__('Paid Amount') ?></th>
								            <th class="a-right"><?php echo $helper->__('Refund Amount') ?></th>
								            <th class="a-right"><?php echo $helper->__('Shipping Amount') ?></th>
								            <th class="a-right"><?php echo $helper->__('Shipping Refund') ?></th>
								            <th class="a-right"><?php echo $helper->__('Order Grand Total') ?></th>
								        </tr>
								    </thead>
								    <?php
									$creditmemo_ids=array();
									$creditmemo_total_amount = 0;		
									$creditmemo_ids = explode(',', $tracking->getCreditmemoId());
									$creditmemo_collection = Mage::getModel('sales/order_creditmemo')->getCollection()
											->addFieldToFilter('entity_id', array('in' => $creditmemo_ids));
									foreach($creditmemo_collection as $creditmemo){
										$creditmemo_total_amount = $creditmemo_total_amount + $creditmemo['grand_total'];
									}
									$invoice = Mage::getModel('sales/order_invoice')->load($invoiceId);
									$invoice_paid_amount = $invoice->getGrandTotal();
								    ?>
								    <tbody>
								        <tr class="border">
								            <td data-rwd-label="<?php echo $helper->__('Paid Amount') ?>">
									        	<?php echo Mage::helper('core')->currency($invoice_paid_amount, true, false); ?>
									        </td>
									        <td data-rwd-label="<?php echo $helper->__('Refund Amount') ?>">
									        	<?php echo Mage::helper('core')->currency($creditmemo_total_amount, true, false); ?>
									        </td>
									        <td data-rwd-label="<?php echo $helper->__('Shipping Amount') ?>">
									        	<?php echo Mage::helper('core')->currency($shippingamount, true, false); ?>
									        </td>
									        <td data-rwd-label="<?php echo $helper->__('Shipping Refund') ?>">
									        	<?php echo Mage::helper('core')->currency($refundedShippingAmount, true, false); ?>
									        </td>
									        <td data-rwd-label="<?php echo $helper->__('Order Grand Total') ?>">
									        	<?php echo Mage::helper('core')->currency($invoice_paid_amount, true, false); ?>
									        </td>
								        </tr>
								    </tbody>
								</table>
							</div>
				        </div>
				    </div>

				    <div class="wk_mp_order-info-box">
					    <div class="entry-edit-head"><h4><?php echo $helper->__('Credit Memo Comments') ?></h4></div>
					    <fieldset id="history_form">
					    <label class="normal" for="creditmemo_comment_text"><?php echo $helper->__('Credit Memo Comments') ?></label><br/>
					    <textarea id="creditmemo_comment_text" name="creditmemo[comment_text]" rows="3" cols="5" style="width: 100%; margin-left: 0px; margin-right: 0px;"></textarea>
					    </fieldset>
					</div>

					<div class="wk_mp_order-info-box">
				        <div class="box">
				        	<div class="box-right entry-edit">
							    <div class="entry-edit-head"><h4><?php echo $helper->__('Refund Totals') ?></h4></div>						    
						    	<input type="hidden" name="id" value="<?php echo $order_id ?>">
						    	<input type="hidden" name="invoice_id" value="<?php echo $invoiceId ?>">
							    <div class="order-totals">
							        <table cellspacing="0" width="100%" class="data-table">
							            <tfoot>       
									        <tr>
									            <td class="a-right wk_refundtotal_td1">
									                <strong><?php echo $helper->__('Grand Total') ?></strong>
									            </td>
									            <td class="a-right wk_refundtotal_td2">
									                <strong><span class="price"><?php echo Mage::helper('core')->currency($subtotal+$shippingamount+$codcharges_total+$totaltax-$refundedShippingAmount, true, false); ?></span></strong>
									            </td>
									        </tr>
									    	<tr>
									            <td class="a-right wk_refundtotal_td1">
									                <?php echo $helper->__('Subtotal') ?>
									           	</td>
									           	<td class="a-right wk_refundtotal_td2">
									           		<span class="price"><?php echo Mage::helper('core')->currency($subtotal, true, false); ?></span>
									           	</td>
									        </tr>
									        <tr>
									            <td class="a-right wk_refundtotal_td1">
									                <?php echo $helper->__('Total Tax') ?>
									           	</td>
									           	<td class="a-right wk_refundtotal_td2">
									           		<span class="price"><?php echo Mage::helper('core')->currency($totaltax, true, false); ?></span>
									           	</td>
									        </tr>
									        <tr>
									        	<td class="a-right wk_refundtotal_td1"><?php echo $helper->__('Refund Shipping') ?></td>
									        	<td class="a-right wk_refundtotal_td2"><input type="text" name="creditmemo[shipping_amount]" value="<?php echo $shippingamount-$refundedShippingAmount; ?>" class="input-text not-negative-amount" style="width:60px;text-align:right" id="shipping_amount"></td>
									    	</tr>
										    <tr>
										        <td class="a-right wk_refundtotal_td1"><?php echo $helper->__('Adjustment Refund') ?></td>
										        <td class="a-right wk_refundtotal_td2"><input type="text" name="creditmemo[adjustment_positive]" value="0" class="input-text not-negative-amount" style="width:60px;text-align:right" id="adjustment_positive"></td>
										    </tr>
										    <tr>
										        <td class="a-right wk_refundtotal_td1"><?php echo $helper->__('Adjustment Fee') ?></td>
										        <td class="a-right wk_refundtotal_td2"><input type="text" name="creditmemo[adjustment_negative]" value="0" class="input-text not-negative-amount" style="width:60px;text-align:right" id="adjustment_negative"></td>
										    </tr>								    
									    </tfoot>
							    	</table>
							    </div>
							    <input type="hidden" name="creditmemo[do_offline]" id="mp_creditmemo_do_offline" value="0">
							    <!-- for buyer mail -->
							    <div class="order-totals-bottom" style="text-align:right;">
									<div class="divider"></div>
									<p>
										<label class="normal" for="notify_customer"><?php echo $helper->__('Append Comments') ?></label>
										<input id="notify_customer" name="creditmemo[comment_customer_notify]" value="1" type="checkbox" disabled="disabled"/>
									</p>
									<p>
										<label class="normal" for="history_notify"><?php echo $helper->__('Visible on Frontend') ?></label>
										<input id="history_notify" name="creditmemo[is_visible_on_front]" value="1" type="checkbox"/>
									</p>
									<p>
										<label class="normal" for="send_email"><?php echo $helper->__('Email Copy of Credit Memo') ?></label>
										<input id="send_email" name="creditmemo[send_email]" value="1" type="checkbox">
									</p>
								</div>

							    <div class="buttons-set">
									<button class="button" type="button" onclick="submitCreditMemoOffline()">
										<span>
											<span>
												<?php echo $helper->__('Refund Offline') ?>
											</span>
										</span>
									</button>
									<?php
									if($invoice && $invoice->getTransactionId()){ ?>
										<button class="button" type="button" onclick="submitCreditMemo()" title="<?php echo $helper->__('Refund Online') ?>">
											<span>
												<span>
													<?php echo $helper->__('Refund') ?>
												</span>
											</span>
										</button>
									<?php
									} ?>
								</div>							
							</div>
				        </div>
				    </div>
			    </form>
			</div>
		</div>
		<div class="buttons-set">
			<p class="back-link">
				<a href="<?php echo $this->getUrl('marketplace/order/history');?>" class="left">&laquo; <?php echo $helper->__('Back To My Orders') ?></a>
			</p>
		</div>
		<script type="text/javascript">
		if (typeof jQuery == 'undefined'){
		    document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
		}
		</script>
		<script type="text/javascript">
			var $wk_jq=jQuery.noConflict();
			var editForm = $wk_jq('#marketplace_shipping_form');
			function submitCreditMemo() {
			    if ($wk_jq('#mp_creditmemo_do_offline')) $wk_jq('#mp_creditmemo_do_offline').attr('value',0);
			    editForm.submit()
			}
			function submitCreditMemoOffline() {
			    if ($wk_jq('#mp_creditmemo_do_offline')) $wk_jq('#mp_creditmemo_do_offline').attr('value',1);
			    editForm.submit()
			}
			(function($wk_jq){
				$wk_jq('#send_email').click(function(event) {
					if (this.checked == true){
						$wk_jq('#notify_customer').removeAttr('disabled');
					}else{
						$wk_jq('#notify_customer').attr('disabled','disabled');
					}
			    });
			})($wk_jq);
		</script>
		<?php 
	}
}else{ ?>
	<h2 class="wk_mp_error_msg">
		<?php echo $helper->__("To Become Seller Please Contact to Admin."); ?>
	</h2>
	<?php
} ?>
