<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

$helper = Mage::helper('marketplace');
$bannerDisplay 		= 	$helper->getDisplayBannerLayout3();
$bannerImage 		= 	$helper->getBannerImageLayout3();
$bannerContent 		= 	$helper->getBannerContentLayout3();
$marketplacebutton 	= 	$helper->getBannerButtonLayout3();
$marketplacelabel1  =	$helper->getMarketplacelabel1Layout3(); 
$marketplacelabel2  =	$helper->getMarketplacelabel2Layout3(); 
$marketplacelabel3  =	$helper->getMarketplacelabel3Layout3(); 
$iconsDisplay 		= 	$helper->getDisplayIconLayout3();
$iconImage1 		= 	$helper->getIconImage1Layout3();
$iconImage1Label 	= 	$helper->getIconImageLabel1Layout3();
$iconImage2 		= 	$helper->getIconImage2Layout3();
$iconImage2Label 	= 	$helper->getIconImageLabel2Layout3();
$iconImage3 		= 	$helper->getIconImage3Layout3();
$iconImage3Label 	= 	$helper->getIconImageLabel3Layout3();
$iconImage4 		= 	$helper->getIconImage4Layout3();
$iconImage4Label 	= 	$helper->getIconImageLabel4Layout3();
$iconImage5 		= 	$helper->getIconImage5Layout3();
$iconImage5Label 	= 	$helper->getIconImageLabel5Layout3();
$iconSeperatorImage = $this->getSkinUrl('marketplace/images/landingpage/sell-page-2-arrow-right.png');
?>
<style type="text/css">
	.wk_mp_design .form-list .field {
	    width: 50%;
	    float: left;
	}
	.wk_list_container_wrapper {
		width: 90%!important;
	}
</style>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('marketplace/css/landingpage_two.css');?>">
<div class="wk_mp_design wk_mp_landingpage">
	<?php
	if($bannerDisplay){?>
		<div class="wk_mp_banner_container_layout2">	
			<div class="wk_mp_banner">
				<div class="wk_list_container wk_mp_header" style="width: 58%!important;float: left;padding: 1%;">
					<div class="wk_mp_header_container">						
						<?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($bannerContent)?>
					</div>
				</div>
				<div class="wk_list_container" style="width: 38%;float: left;">
					<div class="wk_list_container_registration wk_text_transform_left">
						<div class="wk_list_container_feature_label">Register As Seller Today</div>
						<?php echo $this->getChildHtml('customer_form_register_layout3');?>
						<?php echo $this->getChildHtml('landing_page_seller_register_layout3');?>
					</div>
				</div>
			</div>
		</div>
	<?php
	} ?>
	<h1 class="wk_marketplace_label"><?php echo $marketplacelabel1 ?></h1>
<?php
	if($iconsDisplay){?>
		<div class="wk_mp_icon_container">
			<div class="wk_mp_icon_wraper">
				<div class="wk_mp_icon">
					<img src="<?php echo $iconImage1 ?>">
				</div>
				<span class="wk_marketplace_label_span"><?php echo $iconImage1Label ?></span>
			</div>
			<div class="wk_mp_icon_seperator">
				<div class="wk_mp_icon">
					<img src="<?php echo $iconSeperatorImage ?>">
				</div>
			</div>
			<div class="wk_mp_icon_wraper">
				<div class="wk_mp_icon">
					<img src="<?php echo $iconImage2 ?>">
				</div>
				<span class="wk_marketplace_label_span"><?php echo $iconImage2Label ?></span>
			</div>
			<div class="wk_mp_icon_seperator">
				<div class="wk_mp_icon">
					<img src="<?php echo $iconSeperatorImage ?>">
				</div>
			</div>
			<div class="wk_mp_icon_wraper">
				<div class="wk_mp_icon">
					<img src="<?php echo $iconImage3 ?>">
				</div>
				<span class="wk_marketplace_label_span"><?php echo $iconImage3Label ?></span>
			</div>
			<div class="wk_mp_icon_seperator">
				<div class="wk_mp_icon">
					<img src="<?php echo $iconSeperatorImage ?>">
				</div>
			</div>
			<div class="wk_mp_icon_wraper">
				<div class="wk_mp_icon">
					<img src="<?php echo $iconImage4 ?>">
				</div>
				<span class="wk_marketplace_label_span"><?php echo $iconImage4Label ?></span>
			</div>
			<div class="wk_mp_icon_seperator">
				<div class="wk_mp_icon">
					<img src="<?php echo $iconSeperatorImage ?>">
				</div>
			</div>
			<div class="wk_mp_icon_wraper">
				<div class="wk_mp_icon">
					<img src="<?php echo $iconImage5 ?>">
				</div>
				<span class="wk_marketplace_label_span"><?php echo $iconImage5Label ?></span>
			</div>
		</div>
	<?php
	} ?>
	<h1 class="wk_marketplace_label"><?php echo $marketplacelabel2 ?></h1>
	<div class="wk_list_container_wrapper wk_text_transform_left">
		<div class="wk_layout2_box_container">
			<span class="wk_layout2_box_span_container"><?php echo $helper->__('Huge Buyers');?></span>
			<span class="wk_layout2_box_span">
				<span class="wk_layout2_box_span_image"></span>
			</span>
			<div class="wk_icon_div"><?php echo $helper->__('Get your product showcased to a huge range of customers, as everyday many user shops from us.');?></div>
		</div>
		<div class="wk_layout2_box_container">
			<span class="wk_layout2_box_span_container"><?php echo $helper->__('Ask Questions');?></span>
			<span class="wk_layout2_box_span">
				<span class="wk_layout2_box_span_image wk_layout2_box_span_image_ask"></span>
			</span>
			<div class="wk_icon_div"><?php echo $helper->__('If you ever get stuck, let us know and we will help you with the best we have in minimum possible time.');?></div>
		</div>
		<div class="wk_layout2_box_container">
			<span class="wk_layout2_box_span_container"><?php echo $helper->__('Quick Payments');?></span>
			<span class="wk_layout2_box_span">
				<span class="wk_layout2_box_span_image wk_layout2_box_span_image_quickpay"></span>
			</span>
			<div class="wk_icon_div"><?php echo $helper->__('Once goods have been successfully delivered to respective customers, you can request for payout.');?></div>
		</div>
		<div class="wk_layout2_box_container">
			<span class="wk_layout2_box_span_container"><?php echo $helper->__('Manage Your Orders');?></span>
			<span class="wk_layout2_box_span">
				<span class="wk_layout2_box_span_image wk_layout2_box_span_image_order"></span>
			</span>
			<div class="wk_icon_div"><?php echo $helper->__('Manage your orders at maximum ease and help customers to have a better shopping experience.');?></div>
		</div>
		<div class="wk_layout2_box_container">
			<span class="wk_layout2_box_span_container"><?php echo $helper->__('Earn Badges');?></span>
			<span class="wk_layout2_box_span">
				<span class="wk_layout2_box_span_image wk_layout2_box_span_image_badges"></span>
			</span>
			<div class="wk_icon_div"><?php echo $helper->__('Once you climb a milestone you get awarded with a badge, which make you look like more pro.');?></div>
		</div>
		<div class="wk_layout2_box_container">
			<span class="wk_layout2_box_span_container"><?php echo $helper->__('Get Yourself Verified');?></span>
			<span class="wk_layout2_box_span">
				<span class="wk_layout2_box_span_image wk_layout2_box_span_image_verified"></span>
			</span>
			<div class="wk_icon_div"><?php echo $helper->__('Add a verified brooch to your profile by providing very neccessary some business details and documents.');?></div>
		</div>
		<div class="wk_layout2_box_container">
			<span class="wk_layout2_box_span_container"><?php echo $helper->__('Customize Profile');?></span>
			<span class="wk_layout2_box_span">
				<span class="wk_layout2_box_span_image wk_layout2_box_span_image_profile"></span>
			</span>
			<div class="wk_icon_div"><?php echo $helper->__('Customize your profile with information like profile logo, shop location, shipping and refund policies.');?></div>
		</div>
		<div class="wk_layout2_box_container">
			<span class="wk_layout2_box_span_container"><?php echo $helper->__('Add Media');?></span>
			<span class="wk_layout2_box_span">
				<span class="wk_layout2_box_span_image wk_layout2_box_span_image_media"></span>
			</span>
			<div class="wk_icon_div"><?php echo $helper->__('Embed video YouTube to make your account more genuine and stand out in the queue.');?></div>
		</div>
	</div>
	<div class="wk_list_container_wrapper wk_text_transform_center">
		<span class="wk_icon_check_span"><?php echo $marketplacelabel3 ?></span>
        <div class="primary">
        	<a href="#form-validate">
	            <button type="submit" class="action submit primary" title="<?php echo $helper->__('Open Your Shop')?>">
	            	<span><?php echo $helper->__('Open Your Shop')?></span>
	            </button>
	        </a>
        </div>
	</div>
</div>
<script type="text/javascript">
	if (typeof jQuery == 'undefined'){
	    document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script>
<script type="text/javascript">
	var $wk_jq=jQuery.noConflict();
	$wk_jq('.name-middlename').hide();
	$wk_jq('#form-validate p.required').hide();
	$wk_jq('.control').hide();
	$wk_jq('.back-link').remove();
	$wk_jq('.account-create .page-title').remove();
	$wk_jq('.form-instructions').remove();
	$wk_jq('.wk_mp_banner').css('background-image','url("<?php echo $bannerImage ?>")');
</script>