<?php  
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$helper = Mage::helper('marketplace');
$bannerDisplay 		= 	$helper->getDisplayBannerLayout2();
$bannerImage 		= 	$helper->getBannerImageLayout2();
$bannerContent 		= 	$helper->getBannerContentLayout2();
$marketplacebutton 	= 	$helper->getBannerButtonLayout2();
?>
<style type="text/css">
	.wk_mp_design .form-list .field {
	    width: 50%;
	    float: left;
	}
</style>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('marketplace/css/landingpage_one.css');?>">
<div class="wk_mp_design wk_mp_landingpage">
	<?php
	if($bannerDisplay){?>
		<div class="wk_mp_banner_container_layout2">	
			<div class="wk_mp_banner">
				<div class="wk_mp_header">
					<?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($bannerContent)?>
					<p>
						<a href="#form-validate">
							<button class="button wk_mp_landing_button">
								<span>
									<span>
										<strong><?php echo $marketplacebutton; ?></strong>
									</span>
								</span>
							</button>
						</a>
					</p>
				</div>
			</div>
		</div>
	<?php
	} ?>
	<div class="wk_list_container_wrapper wk_text_transform_left">
		<div class="wk_list_container">
			<ul class="wk_icon_ul">
				<li class="wk_icon1">
					<span class="wk_icon_span"><?php echo $helper->__('Huge Buyers');?></span>
					<div class="wk_icon_div"><?php echo $helper->__('Get your product showcased to a huge range of customers, as everyday many user shops from us.');?></div>
				</li>
				<li class="wk_icon3">
					<span class="wk_icon_span"><?php echo $helper->__('Quick Payments');?></span>
					<div class="wk_icon_div"><?php echo $helper->__('Once goods have been successfully delivered to respective customers, you can request for payout.');?></div>
				</li>
				<li class="wk_icon5">
					<span class="wk_icon_span"><?php echo $helper->__('Earn Badges');?></span>
					<div class="wk_icon_div"><?php echo $helper->__('Once you climb a milestone you get awarded with a badge, which make you look like more pro.');?></div>
				</li>
				<li class="wk_icon7">
					<span class="wk_icon_span"><?php echo $helper->__('Customize Profile');?></span>
					<div class="wk_icon_div"><?php echo $helper->__('Customize your profile with information like profile logo, shop location, shipping and refund policies.');?></div>
				</li>
				<li class="wk_icon9">
					<span class="wk_icon_span"><?php echo $helper->__('Add Media');?></span>
					<div class="wk_icon_div"><?php echo $helper->__('Embed video YouTube to make your account more genuine and stand out in the queue.');?></div>
				</li>
			</ul>
		</div>
		<div class="wk_list_container">
			<ul class="wk_icon_ul">
				<li class="wk_icon2">
					<span class="wk_icon_span"><?php echo $helper->__('Got Stuck? Ask Questions');?></span>
					<div class="wk_icon_div"><?php echo $helper->__('If you ever get stuck, let us know and we will help you with the best we have in minimum possible time.');?></div>
				</li>
				<li class="wk_icon4">
					<span class="wk_icon_span"><?php echo $helper->__('Manage Your Orders');?></span>
					<div class="wk_icon_div"><?php echo $helper->__('Manage your orders at maximum ease and help customers to have a better shopping experience.');?></div>
				</li>
				<li class="wk_icon6">
					<span class="wk_icon_span"><?php echo $helper->__('Get Yourself Verified');?></span>
					<div class="wk_icon_div"><?php echo $helper->__('Add a verified brooch to your profile by providing very neccessary some business details and documents.');?></div>
				</li>
				<li class="wk_icon8">
					<span class="wk_icon_span"><?php echo $helper->__('Create Your Own Collection');?></span>
					<div class="wk_icon_div"><?php echo $helper->__('Add verious products and create your own product collection that will be visible to customers.');?></div>
				</li>
				<li class="wk_icon10">
					<span class="wk_icon_span"><?php echo $helper->__('Add Unlimited Products');?></span>
					<div class="wk_icon_div"><?php echo $helper->__('Add unlimited products which you want and fulfill your customers need.');?></div>
				</li>
			</ul>
		</div>
	</div>		
	<div class="wk_list_container_class">
		<div class="wk_list_container_wrapper wk_text_transform_left">
			<div class="wk_list_container">
				<div class="wk_list_container_feature_label"><?php echo $helper->__('Really Easy To Setup And Customize');?></div>
				<ul class="wk_icon_ul">
					<li class="wk_icon_check">
						<span class="wk_icon_check_span"><?php echo $helper->__('Crete an Account');?></span>
					</li>
					<li class="wk_icon_check">
						<span class="wk_icon_check_span"><?php echo $helper->__('Crete your Profile');?></span>
					</li>
					<li class="wk_icon_check">
						<span class="wk_icon_check_span"><?php echo $helper->__('Add your Details');?></span>
					</li>
					<li class="wk_icon_check">
						<span class="wk_icon_check_span"><?php echo $helper->__('Add your Product Listing');?></span>
					</li>
					<li class="wk_icon_check">
						<span class="wk_icon_check_span"><?php echo $helper->__('Sell your Products and Earn Points');?></span>
					</li>
				</ul>
			</div>
			<div class="wk_list_container wk_list_container_registration">
				<div class="wk_list_container_feature_label"><?php echo $helper->__('Register As A Seller');?></div>
				<?php echo $this->getChildHtml('customer_form_register_layout2');?>
				<?php echo $this->getChildHtml('landing_page_seller_register_layout2');?>
			</div>
		</div>
	</div>
	<div class="wk_list_container_wrapper wk_text_transform_center">
		<span class="wk_icon_check_span"><?php echo $helper->__('Open your own online shop & explore a new world of marketplace with more and millions of shopers');?></span>
        <div class="primary">
        	<a href="#form-validate">
	            <button type="submit" class="action submit primary" title="<?php echo $helper->__('Open Your Shop')?>">
	            	<span><?php echo $helper->__('Open Your Shop')?></span>
	            </button>
	        </a>
        </div>
	</div>
</div>
<script type="text/javascript">
	if (typeof jQuery == 'undefined'){
	    document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script>
<script type="text/javascript">
	var $wk_jq=jQuery.noConflict();
	$wk_jq('.name-middlename').hide();
	$wk_jq('#form-validate p.required').hide();
	$wk_jq('.control').hide();
	$wk_jq('.account-create .page-title').remove();
	$wk_jq('.form-instructions').remove();	
	$wk_jq('.wk_mp_landingpage').insertBefore('.main-container');
	$wk_jq('.wk_mp_banner').css('background-image','url("<?php echo $bannerImage ?>")');
</script>