<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block Webkul_Marketplace_Block_UpsellProducts */

$helper = Mage::helper('marketplace');
$productId=$this->getRequest()->getParam('id');
$upsellProducts = $this->getUpsellProductData($productId);
?>

<div id="upsell-product-block" style="margin-bottom: 50px;overflow: hidden;">
    <h3 class="title">
        <?php /* @noEscape */ echo $helper->__('Up-sells Products'); ?>
    </h3>
    <?php /* @noEscape */ echo $helper->__('Up-sells products are shown to customers in addition to the item the customer is looking at.'); ?>
    <div id="upsell-product-block-wrapper">
    </div>
    <script id="upsell-product-template" type="text/x-jquery-tmpl">
	    <div id="upsell-product-record${id}">
			<input name="links[upsell][${id}][position]" type="hidden" value="${position}">
		</div>
    </script>
</div>

<script type="text/javascript">
    if (typeof jQuery == 'undefined'){
        document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
</script>
<script src="<?php echo $this->getSkinUrl('marketplace/js/jquery.tmpl.min.js') ?>" type="text/javascript"></script>
<script> 
    var $wk_jq=jQuery.noConflict();
    var indexValue = 0;

    var upsellSelectedProduct = <?php echo Mage::helper('core')->jsonEncode($upsellProducts)?>;

    $wk_jq.ajax({
        url: "<?php echo Mage::getUrl('marketplace/product/upsell');?>",
        type: "POST",
        data: {id: '<?php echo $productId?>'},
        dataType: 'html',
        success:function($data){
            $wk_jq('#upsell-product-block-wrapper').html($data);
            $wk_jq.each(upsellSelectedProduct, function (index, value) {
                $wk_jq("#upsell-product-template").tmpl(
                    [{
                        'id': index,
                        'position': value
                    }]
                ).appendTo("#wk_bodymain");
                $wk_jq('#mp-upsell-products-checkbox'+index).attr("checked","checked");
                $wk_jq('#wk-mp-grid-position-cell-box'+index).val(value);
                $wk_jq('#wk-mp-grid-position-cell-box'+index).removeAttr('disabled');
           });
        }
    });

    $wk_jq('#upsell-product-block-wrapper').delegate('a', 'click', function(event){
        event.preventDefault();
        var ajaxUrl = $wk_jq(this).attr('href');
        $wk_jq.ajax({
            url: ajaxUrl,
            type: "POST",
            data: {id: '<?php echo $productId?>'},
            dataType: 'html',
            success:function($data){
                $wk_jq('#upsell-product-block-wrapper').html($data);
                return false;
            }
        });
    });

    $wk_jq('#upsell-product-block-wrapper').delegate('.mp-upsell-products', 'change', function(){
        var productId = $wk_jq(this).val();
        if($wk_jq(this).is(":checked")) {
            if (productId == 'all') {
                $wk_jq('#upsell-product-block-wrapper .wk_row_view').each(function () {
                    var trElement = $wk_jq(this);

                    trElement.find('.wk_check_first_td').find('input').each(function() {
                        this.checked = true;      
                    });
                    var upsellProductId = trElement.find('.wk-mp-grid-id-cell').find('span').attr('data-val');

                    $wk_jq('#upsell-product-record'+upsellProductId).remove();

                    trElement.find('.wk-mp-grid-position-cell').find('input').removeAttr('disabled');

                    $wk_jq("#upsell-product-template").tmpl(
                        [{
                            'id': trElement.find('.wk-mp-grid-id-cell').find('span').attr('data-val'),
                            'position': indexValue
                        }]
                    ).appendTo("#wk_bodymain");
                });
            } else {
                $wk_jq('#mp-all-upsell-products').each(function() {
                    this.checked = false;
                });

                var trElement = $wk_jq(this).parents('tr');

                var upsellProductId = trElement.find('.wk-mp-grid-id-cell').find('span').attr('data-val');

                $wk_jq('#upsell-product-record'+upsellProductId).remove();

                trElement.find('.wk-mp-grid-position-cell').find('input').removeAttr('disabled');

                $wk_jq("#upsell-product-template").tmpl(
                    [{
                        'id': trElement.find('.wk-mp-grid-id-cell').find('span').attr('data-val'),
                        'position': indexValue
                    }]
                ).appendTo("#wk_bodymain");
            }
        } else {
            if (productId == 'all') {
                $wk_jq('#upsell-product-block-wrapper .wk_row_view').each(function () {
                    var trElement = $wk_jq(this);

                    trElement.find('.wk_check_first_td').find('input').each(function() {
                        this.checked = false;
                    });

                    trElement.find('.wk-mp-grid-position-cell').find('input').attr('disabled', 'disabled');

                    productId = trElement.find('.wk-mp-grid-id-cell').find('span').attr('data-val');

                    $wk_jq('#upsell-product-record'+productId).remove();
                });
            } else {
                $wk_jq('#mp-all-upsell-products').each(function() {
                    this.checked = false;
                });
                $wk_jq('#upsell-product-record'+productId).remove();
            }
        }
    });

    $wk_jq('#upsell-product-block-wrapper').delegate('.wk-mp-grid-position-cell-box', 'change', function() {
        var id = $wk_jq(this).attr('data-val');
        $wk_jq('#upsell-product-record'+id).find('input').val($wk_jq(this).val());
    });
</script>
